body{
    text-align: center;
    background-image:url(spidy\ 3.jpg);
   margin: 0%;
   padding: 0%;
}

.nav{
    text-align: right;
  
    text-decoration: dotted;
   
    height: 50px;
    background-repeat: none;
}

a{
    text-decoration: none;
    
color: white;
margin: 10px;
    

}



#search{
    text-align: left;
    width: 600px;
    border-radius: 50px;
    height: 50px;
    padding: 25px;
    position: absolute;
    top: 350px;
    left: 390px;
    

}

#google_logo{

    position: absolute;
    left: 565px;
    top:170px;
    background-color: transparent;
}


#inputt{
    text-align:center;
    
}

/* #youtube_logo{
    position: absolute;
    left: 400px;
    top: 450px;
   
    
} */
/* #youtube_logo src{
    background-color: none;
} */
/* #snapchat_logo{
    position: absolute;
    left:525px;
    top: 450px;
} */

/* #twitter_logo{
    position: absolute;
    left:650px;
    top: 450px;

} */

/* #spotify_logo{
    position: absolute;
    left:775px;
    top: 450px;

} */

/* #instagram{
    position: absolute;
    left:900px;
    top: 450px;

} */

.fa-youtube{
    font-size: 50px;
     position: absolute;
    left: 400px;
    top: 450px;
    color: rgb(239, 13, 13);
}

.fa-snapchat{
    font-size: 50px;
    position: absolute;
    left:525px;
    top: 450px;
    color: rgb(210, 246, 57);
}

.fa-twitter{
    font-size: 50px;
    position: absolute;
    left:650px;
    top: 450px;
    color: rgb(85, 173, 247);
}

.fa-spotify{
    font-size: 50px;
    position: absolute;
    left:775px;
    top: 450px;
    color: rgb(87, 247, 85);
}

.fa-instagram{
    font-size: 50px;
    position: absolute;
    left:900px;
    top: 450px;
    color: #E1306C

}

.fa-magnifying-glass{

    position: absolute;
    top: 366px;
    left: 396px;
    color: rgb(6, 9, 7);
}

.fa-microphone{
    position: absolute;
    top: 366px;
    left: 955px;
    color: rgb(6, 9, 7);
}

.fa-camera{
     position: absolute;
    top: 366px;
    left: 915px;
    color: rgb(6, 9, 7);
}